*{
    font-family: system-ui;
   }
   
   table{
    border-collapse: collapse;
    border: 1px solid #ededed;
   }
   
   tbody tr {
    height: 40px;
    border-bottom: 1px solid #ededed;
    background-color: #fbfbfb;
    text-align: center;
   }
   
   .title {
    background-color: #009688;
    height: 30px;
    color: #fff;
    font-size: 26px;
   }